{% extends 'base_admin.html' %}
{% load static %}

{% block page-heading-content %}
  <div class="d-sm-flex align-items-center mb-2 ">
    <h2>Solicitud N°: {{kwargs.pk}}</h2>
    <a class="btn btn-info btn-sm ml-auto" href="{% url 'requests_views' %}">Volver</a>
    {% if kwargs.status != 'Rechazado' and kwargs.status != 'Aprobado'  %} 
      <button class="btn btn-warning btn-sm mr-2 ml-2" id="obs">Observación</button>
    {% endif %}    
  </div>

  {% if kwargs %}
  <div class="row" style="background-color:khaki;">
    <div class="col-4 mt-2">
      <h5>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg> Autor:</h5>
      <p>{{kwargs.petitioner.client_person.first_name}} {{kwargs.petitioner.client_person.last_name}} &nbsp;</p>
    </div>

    <div class="col-4 mt-2">
      <h5>Club:</h5>
      <p>{{kwargs.petitioner.corp}}</p>
    </div>

    <div class="col-4 mt-2">
      <h5><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
      </svg>
        Fecha de creacion:</h5>
      <p>{{kwargs.time_create}}</p>
    </div>
  </div>
    
  <div class="row" style="background-color:lavender">
    <div class="col-4 mt-2">
      <h5>Titulo del Evento:</h5>
      <p>{{kwargs.event_title}}</p>
    </div>
    <div class="col-4 mt-2">
      
    </div>
    <div class="col-4 mt-2">
      
    </div>
  </div>

  <div class="row" style="background-color:khaki">
    <div class="col-4 mt-2">
      <h5>Estado:</h5>
      <p>{{kwargs.status}}</p>
    </div>
    <div class="col-4 mt-2">
      
    </div>
    <div class="col-4 mt-2">
      
    </div>
  </div>

  <div class="row" style="background-color:lavender">
    <div class="col-4 mt-2">
      <h5>Especificación:</h5>
      <p>{{kwargs.specification}}</p>
    </div>
  </div>

  {% endif %}

  {% if kwargs.status == 'Respondida' or kwargs.status == 'Cancelada' %}
    <br>
  {% else %}
    <div class="row mt-4" id="ac_button">
      <div class='col-5'></div>
      <button class='btn btn-success res_button' value="0">Responder</button>
    </div>
  {% endif %}

  <!-- modal observation-->
  <div class="modal fade" id="obs_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese su observación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'review_request' kwargs.pk 1 %}">
            {% csrf_token %}
            <textarea class="form-control limit" name="observation" maxlength="300" rows="3" id="obs_text"></textarea>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-warning" >Generar</button>
          </form> 
        </div>
      </div>
    </div>
  </div>
  <!-- end modal observation-->

  <!-- modal response-->
  <div class="modal fade" id="res_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese su respuesta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'review_request' kwargs.pk 1 %}">
            {% csrf_token %}
            <textarea class="form-control limit" name="response" maxlength="300" rows="3" id="resp_text"></textarea>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success" >Responder</button>
          </form> 
        </div>
      </div>
    </div>
  </div>
    <!-- end modal response-->



  <script type="text/javascript">
    $(document).ready(function(){
       if('{{kwargs.status}}' == 'Necesita revision'){
        $.post("{% url 'review_request' 0 1 %}".replace('0','{{kwargs.pk}}'),
          {"estado":2,"csrfmiddlewaretoken": "{{csrf_token}}",},
          function(response){
            location.reload();
          }); 
       }
    });

    $('#obs').on('click',function(){
      $('#obs_modal').modal('show');
    });

    $('.res_button').on('click',function(){
      $('#res_modal').modal('show');
    });
    
  </script>
{% endblock %}

{% block active-requests %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}
