{% extends 'base_admin.html' %}
{% load static %}

{% block page-heading-content %}
  <div class="d-sm-flex align-items-center mb-0 "><!-- d-sm-flex (responsive) -->
    <h1>Solicitudes (Admin)</h1>
  </div>

  <table class="table table-striped table-responsive">
    <thead style="background-color: rgb(255,200,65);">
      <tr>
        <th> ID</th>
        <th> Institucion</th>
        <th> Solicitud</th>
        <th> Fecha de solicitud</th>
        <th> Tipo</th>
        <th> Estado </th>        
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if kwargs %}
        {% for x in kwargs %}
        <tr>
          <th> {{x.pk}}</th>
          <th> {{x.petitioner.corp}}</th>
          <th> {{x.event_title}}</th>
          <th> {{x.time_create}}</th>
          <th> {{x.event_type}}</th>
          <th> {{x.status}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            {% if x.get_type == 'event' %}
              <a class="btn btn-sm btn-success " href="{% url 'review_request' x.pk 0 %}" role="button"> Revisar </a>
            {% endif %}
            {% if x.get_type == 'info' %}
              <a class="btn btn-sm btn-success " href="{% url 'review_request' x.pk 1 %}" role="button"> Revisar </a>
            {% endif %}
          </th>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock %}

{% block active-requests %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}
