{% extends 'base_client.html' %}
{% load static %}

{% block head %}  
{% endblock %}


{% block page-heading-content %}
  <!-- First row -->
  <div class="row">
    <div class="col-8">
      <h1>Mis Solicitudes (Cliente)</h1>
    </div>

    <!-- Separator -->
    <div class="col-2"></div>

    <!-- New request button -->
    <div class="col-2">
      <div class="dropdown btn-group">
        <button class="btn btn-primary btn-sm dropdown-toggle" id="dp_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nueva Solicitud
        </button>
        <div class="dropdown-menu" aria-labelledby="dp_button">
          <a class="dropdown-item" href="{% url 'new_event_request' %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg> Evento</a>
          <a class="dropdown-item" href="{% url 'new_info_request' %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
              <circle cx="8" cy="4.5" r="1"/>
            </svg> Información</a>
        </div>
      </div>
    </div>
    <!-- End new request button -->
  </div>
  
  <table class="table">
    <thead style="background-color: rgb(255,200,65);">
      <tr>
        <th> ID </th>
        <th> Solicitud</th>
        <th> Estado </th>
        <th> Fecha </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if kwargs %}
      {% for x in kwargs %}
          <tr>
            <th> {{x.pk}}</th>
            <th> {{x.event_title}}</th>
            <th> {{x.status}}</th>
            <th> {{x.time_create}}</th>
            <th>
              {% if x.get_type == 'event' %}
                <a class="btn btn-sm btn-info " href="{% url 'client_review' x.pk 0 %}" role="button"> Ver </a>
              {% endif %}
              {% if x.get_type == 'info' %}
                <a class="btn btn-sm btn-info " href="{% url 'client_review' x.pk 1 %}" role="button"> Ver </a>
              {% endif %}
            </th>
          </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>

{% endblock %}

{% block active-requests %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}


