{% extends 'base_client.html' %}
{% load static %}

{% block head %}
  <!-- Datepicker -->
  <link rel="stylesheet" href="{% static 'bootstrap-datepicker.min.css' %}">  
  <script src="{% static 'bootstrap-datepicker.js' %}"></script>
{% endblock %}


{% block page-heading-content %}  
  <!-- Event form -->
  <form class='user' method="POST" action="{% url 'new_event_request' %}" autocomplete="off">
    {% csrf_token %}
    <!-- First row -->
    <div class="row">
      <div class="col-1"></div>
      <div class="form-group col-6">
        <label for="_title_"> Titulo del Evento</label>
        <input type="text" class="form-control" name="event_title" placeholder="Titulo del evento" id="_title_">        
      </div>    

      <!-- Event type -->
      <div class="form-group col-4">
        <label for="_etype_"> Tipo de Evento</label>
        <select class="form-control" name="event_type" id="_etyoe_">
          <option value="0" selected disabled hidden> Seleccione tipo de evento</option>
          <option value="1"> Evento en general</option>
          <option value="2"> Torneo deportivo individual</option>
          <option value="3"> Torneo deportivo por equipos</option>
          <option value="4"> Otro tipo (EJ: Taller)</option>
        </select>
      </div>
      <div class="col-1"></div>
    </div>
    <!-- End first row -->
      
    <!-- Second row -->
    <div class="row">
      <div class="col-1"></div>
      <!-- Event place -->
      <div class="form-group col-3">
        <label for="_eplace_">Lugar del evento:</label>
        <select class="form-control" name="event_place" id="_eplace_">
          <option value="0" selected disabled hidden> Seleccione Lugar</option>
          <option value="1"> Multicancha</option>
          <option value="2"> Pista Atlética</option>
          <option value="3"> Piscina</option>
          <option value="4"> Cancha de Fútbol</option>
          <option value="5"> Otro</option>
        </select>
      </div>
      <!-- Date&hour -->
      <div class="form-group col-3">
          <label> Seleccione Fecha</label>
          <div class="input-group date">
            <input type="text" name="event_date" class="form-control" id='_date_'><span class="input-group-addon ml-1">
              <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
            </span>            
          </div>  
      </div>

      <div class="col-2">
        <label for="_ihour_"> Hora de inicio</label>
        <div class="input-group">
          <select class="form-control" name="init_hour" id="_ihour_">
              <option value="0" selected disabled hidden> ----- </option>
              <option value="08:00"> 08:00 a.m</option>
              <option value="09:00"> 09:00 a.m</option>
              <option value="10:00"> 10:00 a.m</option>
              <option value="11:00"> 11:00 a.m</option>
              <option value="12:00"> 12:00 a.m</option>
              <option value="13:00"> 13:00 p.m</option>
              <option value="14:00"> 14:00 p.m</option>
              <option value="15:00"> 15:00 p.m</option>
              <option value="16:00"> 16:00 p.m</option>
              <option value="17:00"> 17:00 p.m</option>
              <option value="18:00"> 18:00 p.m</option>
              <option value="19:00"> 19:00 p.m</option>
              <option value="20:00"> 20:00 p.m</option>
              <option value="21:00"> 21:00 p.m</option>
            </select>
            <span class="input-group-addon ml-1">
              <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
               <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
           </span>          
         </div>
        </div>

      <div class="col-2">
        <label for="_fhour_"> Hora de termino</label>
        <div class="input-group">
          <select class="form-control" name="finish_hour" id="_fhour_">
            <option value="0" selected disabled hidden> ----- </option>
          </select>  
          <span class="input-group-addon ml-1">
            <svg width="2.2em" height="2.2em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </span>  
        </div>
      </div>
      <!----End date&hour---->
      <div class="col-1"></div>  
    </div> <br>
    <!-- End second row -->

    <!-- Third row -->
    <div class="row">
      <div class="col-1"></div>  
      <div class="form-group col-6">
        <label for="_sEvent_">Especifique detalles del evento:</label>
        <textarea class="form-control limit" name="spe_ev" id="_sEvent_" maxlength="300" rows="3"></textarea>
        <p class="counter" style="float: right" >0/300</p>
      </div>
    </div>
    <!-- End third row -->
    <div class="row">
      <div class="col-2"></div>  
      <button type="submit" class ="btn btn-primary btn-user col-8">Generar Solicitud</button>
    </div>
  </form>
  <!-- End event form -->


  <script type="text/javascript">
    hours = ['08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00',
             '16:00','17:00','18:00','19:00','20:00','21:00','22:00']
            
    $('#_ihour_').on('change',function(){
      init = parseInt(this.value.substring(0,2));
      $('#_fhour_').empty();
      for(x=init+1;x<=22;x++){
        if(x>12){$('#_fhour_').append('<option value="'+hours[x-8]+'">'+hours[x-8]+' p.m</option>');}
        else{$('#_fhour_').append('<option value="'+hours[x-8]+'">'+hours[x-8]+' a.m</option>');}
      }
    });

    $('form').on('submit',function(){
      data_form = $('form')[0];
      submit = 0;
      for(i=1;i<8;i++){
        if(data_form[i].value !=0 ){
          submit+=1;
        }
      }
      if(submit == 7){return true;}
      else{return false}
    });

    $('#_sEvent_').on('input',function(){
      if(this.value.length>250){
        this.rows = 5;
      }
      $('.counter')[0].textContent=this.value.length+"/300";
    });
    
    $('.input-group.date').datepicker({
      startDate:'24-09-2020',
      format: 'dd-mm-yyyy',
      weekStart: 1,
      autoclose: true,
      language:'es'
    });
</script>
{% endblock %}

{% block active-requests %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}
