{% extends 'base_client.html' %}
{% load static %}

{% block head %}  
{% endblock %}


{% block page-heading-content %}
  <!--form-->
  <form class="user" method="post" action="{% url 'new_info_request' %}" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="AS">Asunto: </label>
            <input type="text" class="form-control" name="info_title" placeholder="Asunto..." id="AS">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12"> 
          <div class="form-group">
            <label for="">Solicitud de informacion</label>
            <textarea class="form-control" name="info_detail" cols="130" rows="10" placeholder="Escriba su consulta"></textarea>
          </div>  
        </div>
      </div>

      <button type="submit" class ="btn btn-primary btn-user btn-block">Generar Solicitud</button>
      <hr>
    </form>
    <!--end_form-->
    
    <script>    
      $('form').on('submit',function(){
        console.log('probando funcion')
        data_form = $('form')[0];
        submit = 0;
        for(i=1;i<3;i++){
         if(data_form[i].value !=0 ){
           submit+=1;
          }
        }
        console.log(submit)
        if(submit == 2){return true;}
        else{return false}
      });
    </script>
{% endblock %}

{% block active-requests %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}