{% extends 'base_admin.html' %}
{% load static %}

{% block active-clients %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}

{% block page-heading-content %}
  <div class="d-sm-flex align-items-center mb-0 "><!-- d-sm-flex (responsive) -->
    <h1>Clientes</h1>
    <a class="btn btn-primary btn-sm ml-auto " href="{% url 'register_client' %}" role="button"> Nuevo Cliente</a>
  </div>

  <table class="table">
    <thead>
      <tr class="table-info">
        <th> Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Corp. o Club</th>
        <th>Opciones</th>
        <th></th>
      </tr>
    </thead>
    {% if kwargs %}
      {% for x in kwargs %}
        <thead>
          <tr>
            <th>{{x.pk}}</th>
            <th>{{x.client_person.first_name}}</th>
            <th>{{x.client_person.last_name}}</th>
            <th>{{x.client_person.email}}</th>
            <th>{{x.corp}}</th>
            <th>{{x.client_type}} </th>
            <th>
              <a class="btn btn-success btn-sm" href="{% url 'modify_client' x.client_person.pk %}" role="button"> Modificar </a>
              <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal_delete" id="delete" value="{{x.client_person.pk}}">
                      Elimina cliente
              </button>
            </th>
          </tr>
        </thead>
      {% endfor %}
    {% endif %}
  </table>

  <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >¿Desea eliminar este cliente?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
        </div>
        <div class="modal-body">Presione "Si, estoy Seguro" para eliminar al cliente.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <form action="action" method="post" id="delete_form">
            {% csrf_token %}
            <button class="btn btn-danger btn-ok"> Si, estoy Seguro</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#delete').on('click',function(){
      console.log(this.value);
      $('#delete_form')[0].action = "{% url 'delete_client' 0 %}".replace('0',this.value);
    });
  </script>
{% endblock %}


