{% extends 'base_admin.html' %}
{% load static %}

{% block page-heading-content %}
  <button id="bt_post" class="btn btn-primary">afdsfas</button>

  {% if messages %}
    {% for mesage in messages%}
      <p>{{message}}</p>
    {% endfor %}
  {% endif%}

<script>
  $('#bt_post').on('click',function(){
    $.post("{% url 'index' %}",
          {'data':'wena wena',"csrfmiddlewaretoken": "{{csrf_token}}"},
          function(response){
            console.log(response);
          }
    );
  });
</script>

{% endblock %}