{% extends 'base_admin.html' %}
{% load static %}

{% block page-heading-content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">        
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-0">
      <h1 class="h3 mb-0 text-gray-800">Modificar</h1>
    </div>
    
    <table class="table">
      <thead>
        <tr class="table-info">
          <th> Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
        </tr>
      </thead>
      {% if kwargs %}
          <thead>
            <tr>
              <th>{{kwargs.first_name}}</th>
              <th>{{kwargs.last_name}}</th>
              <th>{{kwargs.email}}</th>
            </tr>
          </thead>
      {% endif %}
    </table>

    <form class='user' method="post" action="{% url 'modify_client' kwargs.pk %}">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control form-control-user" name="first_name" placeholder="Nombre">
      </div> 
      
      <div class="form-group">
        <input type="text" class="form-control form-control-user"  name="last_name" placeholder="Apellido">
      </div> 
      
      <div class="form-group">
          <input type="text" class="form-control form-control-user" name="email" placeholder="Correo Electronico">
      </div> 
      
      <button type="submit" class ="btn btn-primary btn-user btn-block">Modificar</button>
        <hr>
    </form>
  </div>
{% endblock %}

{% block active-clients %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}