{% extends 'base_admin.html' %}
{% load static %}

{% block top-message %}
<div class="d-sm-flex align-items-center justify-content-between my-2">
  <h1 class="h3 mb-0 text-gray-800">Registrar Cliente</h1>
</div>
{% endblock %}

{% block page-heading-content %}
  <form class='user' method="post" action="{% url 'register_client' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="f_name">Nombre</label>
      <input type="text" class="form-control form-control-user" name="first_name" placeholder="Nombre" id="f_name">
    </div> 

    <div class="form-group">
      <label for="l_name">Apellido</label>
      <input type="text" class="form-control form-control-user" name="last_name" placeholder="Apellido" id="l_name">
    </div> 

    <div class="form-group">
      <label for="eml">Correo Electronico</label>
      <input type="text" class="form-control form-control-user" name="email" placeholder="Correo Electronico" id="eml">
    </div> 

    <div class="form-group">
      <label for="crp">Institucion</label>
      <input type="text" class="form-control form-control-user" name="corp" placeholder="Institucion" id="crp">
    </div>
    
    <div class="form-group">
      <label for="type">Tipo Institucion</label>
      <select name="type_corp" class="form-control" id="type">
        <option value="0"selected disabled hidden> Seleccione tipo</option>
        <option value="1">Club deportivo</option>
        <option value="2">Empresa</option>
        <option value="3">Particular</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="u_name">Nombre de usuario</label>
      <input type="text" class="form-control form-control-user" name="username" placeholder="Nombre de usuario" id="u_name">
    </div>

    <div class="form-group">
      <label for="pass">Contraseña</label>
      <input type="password" class="form-control form-control-user " name="password" placeholder="Contaseña" id="pass">
    </div>
    <button type="submit" class ="btn btn-primary btn-user btn-block">Registrar</button>
    <hr>


  </form>
{% endblock %}

{% block active-clients %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}