{% extends 'base_admin.html' %}
{% load static %}

{% block top-message %}
  <h3>Clientes</h3>
{% endblock %}

{% block active-clients %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}

{% block page-heading-content %}
  <div class="d-sm-flex align-items-center mb-1 "><!-- d-sm-flex (responsive) -->
    <a class="btn btn-primary btn-sm ml-auto " href="{% url 'register_client' %}" role="button"> Nuevo Cliente</a>
  </div>

  <table class="table table-striped">
    <thead class="head-info">
      <tr class="all-white">
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Organizacion</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    {% if kwargs %}
      {% for x in kwargs %}
        <thead>
          <tr>
            <th>{{x.pk}}</th>
            <th>{{x.log_user.first_name}}</th>
            <th>{{x.log_user.last_name}}</th>
            <th>{{x.log_user.email}}</th>
            {% if x.client_type == 1 %}
              <th>Club deportivo</th>
            {% elif x.client_type == 2 %}
              <th>Empresa</th>
            {% elif x.client_type == 3 %}
              <th>Particular</th>
            {% endif %}
            <th>{{x.corp}}</th>
            <th>
              <a class="btn btn-success btn-sm" href="{% url 'modify_client' x.log_user.pk %}" role="button"> Modificar </a>
              <button class="btn btn-danger btn-sm delete" value="{{x.log_user.pk}}">Eliminar</button>
            </th>
          </tr>
        </thead>
      {% endfor %}
    {% endif %}
  </table>

  <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >¿Desea eliminar este cliente?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
        </div>
        <div class="modal-body">Presione "Si, estoy Seguro" para eliminar al cliente.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <form action="action" method="post" id="delete_form">
            {% csrf_token %}
            <button class="btn btn-danger"> Si, estoy Seguro</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.delete').on('click',function(){
      console.log("boton eliminar");
      $('#delete_form')[0].action = "{% url 'delete_client' 0 %}".replace('0',this.value);
      $('#modal_delete').modal('show');
    });
  </script>

{% endblock %}


