{% extends 'base_admin.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block page-heading-content %}
  <div class="calendar num">
    <div class="container mb-2">
      <a href="#" class="btn btn-sm btn-primary float-right ml-1">Calendarizar evento</a>
      {% if next == 1%}
        <a href="{% url 'logistic_view' %}?month={{next}}&year={{next_year}}" class="btn btn-sm btn-primary float-right ml-1">Next</a>
      {% else %}
        <a href="{% url 'logistic_view' %}?month={{next}}&year={{year}}" class="btn btn-sm btn-primary float-right ml-1">Next</a>
      {% endif %}
      {% if prev == 12%}
        <a href="{% url 'logistic_view' %}?month={{prev}}&year={{prev_year}}" class="btn btn-sm btn-primary float-right">Prev</a>
      {% else %}
        <a href="{% url 'logistic_view' %}?month={{prev}}&year={{year}}" class="btn btn-sm btn-primary float-right">Prev</a>
      {% endif %}
      
    </div>
      {{calendar|safe}}
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de eventos </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: scroll;max-height: 300px;">
        <table class="table_hours">
          <thead>
            <tr>
              <th style="width: 130px;">Horario</th>
              <th style="width: 80px;">Multicancha</th>
              <th style="width: 80px;">Pista Atlética</th>
              <th style="width: 80px;">Psicina</th>
              <th style="width: 80px;">Cancha Sintetica</th>
              <th style="width: 80px;">Gimnasio completo</th>
              <th style="width: 80px;">Lugar externo</th>
            </tr>
          </thead>
          <tbody class="body_hours">
              <tr>
                <td class="table-info" style="text-align: center;"> Horas</td>

                <!--Multicancha-->
                <td class="table-warning"> </td>

                <!--Piscina-->
                <td class="table-warning"> </td>

                <!--Cancha síntetica-->
                <td class="table-warning"> </td>

                <!--Pista Atlética-->
                <td class="table-warning"> </td>

                <!--Gimnasio completo-->
                <td class="table-warning"> </td>
              
                <!--Lugar externo-->
                <td class="table-warning"> </td>
              </tr>
            <!--End Day hour-->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <style rel="stylesheet">
    .table_hours{
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 5px;
    }

    .table_hours thead tr th{
      text-align: center;
    }
    
    .table_hours tbody tr td{
      text-align: center;
    }

    .calendar table{
      table-layout: fixed;
      width: 101%;
    }

    .calendar tr {
      border: 0.5px solid black;
      height: 50px;
      text-align: center;
    }

    .calendar td {
      border: 0.5px solid black;
      height: 130px;
      text-align:left;
      vertical-align: top;  
    }

    .calendar td ul li{
      font-size:13px;
    }

    .no_point li{
      list-style: none;
    }
  </style>

  <script>    
    $('.day').on('click',function(e){
      list_days = {{disponibility | safe}};
      data_day = list_days[this.id-1];
      if(data_day != 'none')
      {
        body = $('.body_hours');
        text = ''
        for(x= 0;x<16;x++){
          text = text+'<tr><td class="table-info" style="text-align: center;">'+data_day[x][0]+'</td>';
          for(y=1;y<7;y++){
            if(data_day[x][y] == 'none'){
              text = text+'<td class="table-warning"> </td>';
            }
            else{
              text = text+'<td class="table-warning"><button class="btn" >'+ data_day[x][y]+'</button></td>';
            }
          }
        }
        text = text+'</tr>';
        body.html(text);
      }
      $('#exampleModal').modal('show');
    });
  </script>
{% endblock %}

{% block active-logistics %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}
