{% load static %}
<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SGD-Admin</title>

    <!--Bootstrap 4.5.2 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/my_custom_style.css' %}" rel="stylesheet" >

    {% block head %}
    {% endblock %}  
  </head>
  
  <body>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gray-700 sidebar sidebar-dark" >
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-database"></i></div>
          <div class="sidebar-brand-text mx-3"> S.G.D <br> Cerro Navia</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0"><br>
        <div class="sidebar-heading">
          <h6>Modulo</h6><br>
        </div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <button class="btn btn-sm btn-info my-1 btn-block d-flex">
            <a class="nav-link" href="{% url 'adm_clientes' %}">
              <i class="fas fa-fw fa-user"></i>
              <span>Clientes</span>
            </a>
            {% block active-clients %}
            {% endblock %}
          </button>
        </li>

        <li class="nav-item active">
          <button class="btn btn-sm btn-success my-1 btn-block d-flex">
            <a class="nav-link" href="{% url 'logistic_view' %}">
              <i class="fas fa-fw fa-calendar"></i>
              <span>Logistica</span>
            </a>
            {% block active-logistics %}
            {% endblock %}
          </button>
        </li>

        <li class="nav-item active">
          <button class="btn btn-sm btn-warning my-1 btn-block d-flex">
            <a class="nav-link" href="{% url 'requests_views' %}">
              <i class="fas fa-fw fa-paper-plane"></i>
              <span>Solicitudes</span>
            </a>
            {% block active-requests %}
            {% endblock %}
          </button>
        </li>

        <li class="nav-item active">
          <button class="btn btn-sm btn-danger my-1 btn-block d-flex"> 
            <a class="nav-link" href="#">
              <i class="fas fa-fw fa-star"></i>
              <span>Eventos</span>
            </a>
            {% block active-events %}
            {% endblock %}
          </button>
        </li>

        <li class="nav-item active">
          <button class="btn btn-sm btn-secondary my-1 btn-block d-flex">
            <a class="nav-link" href="#">
              <i class="fas fa-fw fa-lightbulb"></i>
              <span>Proyectos</span>
            </a>
            {% block active-projects %}
            {% endblock %}
          </button>
        </li>
      
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-lightbulb"></i>
            <span>Permisos</span>
            {% block active-perms %}
            {% endblock %}
          </a>
        </li>
      </ul>
      <!-- End of Sidebar -->
    
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >
            <a href="/indexcliente"><h1 class="h3 mb-0 text-gray-800">Bienvenido</h1></a>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">  
              {% block alerts %}
              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>

                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                  <h6 class="dropdown-header">Alerts Center</h6>
                  
                  {% for x in u_notify %}
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    
                    <div>
                      <div class="small text-gray-500">December 12, 2019</div>
                      <span class="font-weight-bold">{{x}}</span>
                    </div>
                  </a>  
                  {% endfor %}  
                  <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </li>
              <!-- alerts-->
              {% endblock %} 
            

              <div class="topbar-divider d-none d-sm-block"></div>

              {% block profile %}
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.first_name}} {{user.last_name}}</span>
                  <img class="img-profile rounded-circle" src="{% static 'img/admin_icon.png' %}">
                </a>
  
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 
                    Profile
                  </a>
                  
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
              <!-- Profile-->
              {% endblock %}
            </ul>
          </nav>
          <!-- End of Topbar -->

        
          <!-- Page Content -->
          <div class="container-fluid">
            {% block page-heading-content %}          
            {% endblock %}
          </div>
           <!-- end page content -->
        </div>
        
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <form action="{% url 'salir' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-primary">Salir</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal-->
  </body>
</html>