{% extends 'base_admin.html' %}
{% load static %}

{% block page-heading-content %}
  <div class="d-sm-flex align-items-center mb-2 ">
    <h2>Solicitud N°: {{kwargs.pk}}</h2>
    <a class="btn btn-info btn-sm ml-auto" href="{% url 'requests_views' %}">Volver</a>
  </div>

  {% if kwargs %}
  <div class="row" style="background-color:khaki;">
    <div class="col-4 mt-2">
      <h5>Asunto:</h5>
      <p>{{kwargs.event_title}}</p>
    </div>
    <div class="col-4 mt-2">
      <h5>Estado:</h5>
      <p>{{kwargs.status}}</p>
    </div>
  </div>
  
  <div class="row" style="background-color:lavender">
    <div class="col-4 mt-2">
      <h5>Especificación:</h5>
      <p>{{kwargs.specification}}</p>
    </div>
  </div>

  {% if kwargs.status == 'Respondida' %}
  <div class="row" style="background-color:khaki;">
    <div class="col-10 mt-2">
      <h5>Respuesta:</h5>
      <p>{{kwargs.response}}</p>
    </div>
  </div>
  {% endif %}

  
  {% endif %}
  {% if kwargs.status == 'Pendiente' %}
  {% if kwargs.modify_button %}
  <div class="row mt-4" id="ac_button">
    <div class='col-4'></div>
      <a class="btn btn-success btn-sm ml-auto" href="{% url 'modify_request' kwargs.pk %}">Modificar solicitud</a>
    <div class='col-2'></div>
      <button class="btn btn-danger btn-sm ml-auto" id="cancel_option"> Cancelar solicitud </button>
  </div>
  {% endif %}
  {% endif %}
  
<!-- Modal -->
<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡¡Un Momento!! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body">
        <p> ¿Esta seguro de cancelar la solicitud ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, no estoy seguro</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id='cancel_button'>Si, estoy seguro</button>
      </div>
    </div>
  </div>
</div>


  <script type="text/javascript">
    $('#cancel_option').on('click',function(){
      $('#cancel_modal').modal('show');
    });

    $('#cancel_button').on('click',function(){
      $.post("{% url 'client_review' 0 1 %}".replace('0','{{kwargs.pk}}'),
          {'estado':'Cancelada','csrfmiddlewaretoken': '{{csrf_token}}',},
          function(response){
            window.location = (response);
      });
    });
  </script>
{% endblock %}

{% block active-requests %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}