{% extends 'base_admin.html' %}
{% load static %}

{% block page-heading-content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">        
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-1">
      <h1 class="h3 mb-0 text-gray-800">Modificar solicitud N°: {{kwargs.pk}}</h1>
      <a class="btn btn-info btn-sm ml-auto" href="{% url 'requests_views' %}">Volver</a>
    </div>
    
    <form class='user' method="post" action="{% url 'modify_request' kwargs.pk %}">
      {% csrf_token %}

      <!--first row-->
      <div class="row" style="background-color:khaki;">
        <div class="col-4 mt-2">
          <h5>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg> Autor:</h5>
          <p>{{kwargs.petitioner.client_person.first_name}} {{kwargs.petitioner.client_person.last_name}} &nbsp;</p>
        </div>
      
        <div class="col-4 mt-2">
          <h5>Club:</h5>
          <p>{{kwargs.petitioner.corp}}</p>
        </div>
      
        <div class="col-4 mt-2">
          <h5><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          </svg>
            Fecha de creacion:</h5>
          <p>{{kwargs.time_create}}</p>
        </div>
      </div>
      <!--end first row-->
        
      <!--second row-->
      <div class="row" style="background-color:lavender">
        <div class="col-4 mt-2">
          <h5>Titulo del Evento:</h5>
          <div class="form-group">
            <input type="text" class="form-control" name="event_title" placeholder="titulo" value="{{kwargs.event_title}}">
          </div> 
        </div>
        
        <div class="col-4 mt-2">
          <h5>Tipo de evento:</h5>
          <div class="form-group">
              <select class="form-control" name="event_type" id="place_id">
                <option value="{{kwargs.event_type}}" >Torneo deportivo</option>
                <option value="1"> Evento en general</option>
                <option value="2"> Torneo deportivo</option>
                <option value="3"> Otro tipo</option>
              </select>
          </div> 
        </div>

        <div class="col-4 mt-2">
          <h5>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
              <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            </svg> Fecha requerida:</h5>
            <div class="input-group date">
              <input type="text" name="event_date" class="form-control"  value="{{kwargs.event_date}}">
            </div>
        </div>
      </div>
      <!--end second row-->
      
      <!--third row-->
      <div class="row" style="background-color:khaki">
        <div class="col-4 mt-2">
          <h5>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Hora inicio :</h5>
            <input type="text" name="init_hour" class="form-control"  value="{{kwargs.init_hour}}">
        </div>

        <div class="col-4 mt-2">
          <h5>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Hora fin :</h5>
            <input type="text" name="finish_hour" class="form-control"  value="{{kwargs.finish_hour}}">
        </div>

        <div class="col-4 mt-2">
          <h5 >Zona:</h5>
          <div class="form-group">  
            <select class="form-control" name="event_place" id="place_id">
              <option value="{{kwargs.event_place}}">Multicancha</option>
              <option value="1"> Multicancha</option>
              <option value="2"> Pista Atlética</option>
              <option value="3"> Piscina</option>
              <option value="4"> Cancha de Fútbol</option>
              <option value="5"> Otro</option>
            </select>
        </div> 
        </div>
      </div>
      
      <div class="row" style="background-color:lavender">
        <div class="col-4 mt-2">
          <h5>Estado:</h5>
          <p>{{kwargs.status}}</p>
        </div>
      </div>
      
      <div class="row" style="background-color:khaki">
        <div class="col-12 mt-2">
          <h5>Especificación:</h5>
          <div class="form-group">
            <input type="text" class="form-control " name="specification" placeholder="Especificación" value="{{kwargs.specification}}">
        </div> 
        </div>
      </div>
      
      
      <div class="row mt-4 d-none" id="ac_button">
        <div class='col-4'></div>
        <button class='btn btn-sm btn-success' id='accept'>Aprobar</button>
        <div class='col-2'></div>
        <button class='btn btn-sm btn-danger' id='reject'>Rechazar</button>
      </div>
      
      <button type="submit" class ="btn btn-primary btn-user btn-block">Modificar</button>
    </form>
  </div>
{% endblock %}

{% block active-clients %}
  <i class="fas fa-fw fa-circle "></i>
{% endblock %}